:root {
  --hover-color: hsl(179, 56%, 75%);
  --cyan: hsl(180, 66%, 49%);
  --darkViolet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayishViolet: hsl(257, 7%, 63%);
  --veryDarkBlue: hsl(255, 11%, 22%);
  --veryDarkViolet: hsl(260, 8%, 14%);
  --lightGrayish: hsl(230, 25%, 95%);
}

* {
  margin: 0;
  padding: 0;
}

#root {
  background: linear-gradient(to bottom, #ffffff 20%, hsl(230, 25%, 95%) 80%);
  font-family: sans-serif;
}

header,
main,
footer {
  padding: 20px 0 0 0;
}

header {
  height: 5%;
  display: grid;
  grid-template-columns: max-content 2fr;
  align-items: center;
  align-content: center;
  gap: 40px;
  margin: 0 4% 0 4%;
}

main {
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

footer {
  height: 15%;
  background-color: var(--veryDarkViolet);
  color: var(--lightGrayish);
  padding: 2%;
}

button {
  background-color: var(--cyan);
  padding: 15px;
  color: white;
  border: none;
  font-weight: 700;
  border-radius: 30px;
  cursor: pointer;
  margin: 5px;
}

button:active {
  background-color: var(--hover-color);
}
