.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin: 0 4% 0 4%;
}

.description h2 {
  font-weight: 700;
  font-size: 3rem;
}

.description p {
  font-size: 1.4rem;
  color: gray;
}

.description button {
  padding: 15px 35px 15px 35px;
}

.description img {
  width: 50%;
}

.statistics {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.statistics h2 {
  font-weight: 600;
  font-size: 1.6rem;
}

.statistics p {
  font-weight: 500;
  font-size: 1rem;
  color: gray;
}

.features {
  display: flex;
  flex-direction: row;
  margin: 0 4% 0 4%;
  align-items: center;
}

.features div {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.featuresLine {
  background-color: var(--cyan) !important;
  border: 0;
  border-radius: 0 !important ;
  padding: 4px 15px !important;
}

.featureIcons {
  background-color: var(--darkViolet) !important;
  padding: 20px;
  border-radius: 50% !important;
  width: fit-content;
  position: relative;
  top: -4rem !important;
}

.boost {
  background-color: var(--darkViolet);
  background-image: url("../images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 40px 0;
  gap: 20px;
}

.boost h2 {
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
}

.boost button {
  padding: 15px 30px 15px 30px;
}
