@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,50,600,700,800");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

#content {
  background-image: url(./images/pattern-bg.png);
  background-size: cover;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

h1 {
  color: white;
}

form {
  display: flex;
  flex-direction: row;
  gap: 0;
}

#info input,
#info button {
  height: 50px;
}

#info input {
  width: 30vw;
  height: 50px;
  border-radius: 10px 0 0 10px;
  outline: none;
  border: none;
  text-indent: 20px;
  font-size: 1.3rem;
}

#info button {
  background-color: black;
  width: 40px;
  color: white;
  font-weight: 700;
  border-radius: 0 10px 10px 0;
  font-size: 1.3rem;
  cursor: pointer;
  border: 0;
}

#info button:active {
  background-color: hsl(0, 0%, 17%);
  outline: 0;
  border: 0;
}

#map {
  z-index: -1;
  height: 75vh;
}

#data {
  position: relative;
  top: 22%;
  width: 80%;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 10px;
}

#data div {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#data div > h2 {
  color: hsl(0, 0%, 59%);
  font-family: sans-serif;
  font-size: 1rem;
}

#data div p {
  font-size: 1.3rem;
  font-weight: 700;
  white-space: pre-wrap;
  word-wrap: break-word;
}

hr {
  height: 5rem;
  align-self: center;
  color: hsl(0, 0%, 17%);
}

@media only screen and (max-width: 800px) {
  #data {
    height: 10vh;
    padding: 15px;
  }
  #info input {
    width: 80vw;
  }
  #content h1 {
    font-size: 1.3rem;
  }
  #data div > h2 {
    font-size: 0.7rem;
  }

  #data div p {
    font-size: 0.8rem;
    width: 100px;
  }
}

@media only screen and (max-width: 500px) {
  #content form,
  #content h1 {
    position: relative;
    top: 50%;
  }

  #data {
    height: 50vh;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    top: 80%;
  }

  #data div {
    width: 100%;
  }

  #data hr {
    display: none;
  }
  #info input,
  #info button {
    height: 30px;
  }
  #info input {
    font-size: 0.7rem;
  }

  #info button {
    font-size: 0.8rem;
  }
  #data div h2 {
    font-size: 0.55rem;
  }
  #data div p {
    font-size: 0.7rem;
  }

  #data div p {
    font-size: 0.6rem;
  }
}
