.footer {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1fr;
}

.footer div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.importantLinks {
  display: flex;
  flex-direction: row !important;
  gap: 80px !important;
}

.linksList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.linksList li:hover {
  cursor: pointer;
  color: var(--hover-color);
}

.logo {
  padding: 10px;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
  align-items: center;
}

.socialsIcons {
  height: 24px;
  width: 24px;
  color: white;
  cursor: pointer;
}

.socialsIcons:hover {
  color: cyan;
}
