.login {
  background-color: transparent;
  color: black;
  color: gray;
  font-weight: 600;
  padding: 0;
}

.login:hover {
  background-color: transparent;
}

.signUp {
  padding: 15px 25px 15px 25px;
}

.account {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: gray;
  font-weight: 600;
}

.linksList {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}

.linksList li {
  cursor: pointer;
}
