.form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: var(--darkViolet);
  background-image: url("../images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  border-radius: 8px;
  margin: 0 4% 0 4%;
}

.button {
  border-radius: 5px;
  padding: 15px;
}

.input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  width: 90%;
  text-indent: 10px;
  outline: 0;
  font-size: 1rem;
  padding: 15px;
}
